.heroSection {
    width: 100%;
    height: 400px;
    background-image: url('/public/image/banner-skincare.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}